.BackgroundSystem {
	background-image: url(webapp/defaultdesktop.png);
}

.qxAboutLogo {
	background-image: url(startup/logo.png);
	background-repeat: no-repeat;
	background-position: center center;
	background-size: 128px 128px;
	width: 128px;
	height: 128px;
}

.qxIcon {
	background-image: url(webapp/ico.png);
	background-repeat: no-repeat;
	background-position: center center;
	background-size: 16px 16px;
	width: 16px;
	height: 16px;
}

.mnu_preferences {
	background-image: url(webapp/Preferences.png);
}

.IPhoto {
	border: 1px solid #AAAAAA;
	background-color: #EEEEEE;
	background-image: url(webapp/default-user-icon-profile.png);
	background-size: 100px 120px;
	width: 100px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
	height: 120px;
}

.plus {
	background-image: url(webapp/plus.png);
	background-size: 16px 16px;
	width: 16px;
	height: 16px;
}

.hierarchie {
	background-image: url(webapp/hierarchie.png);
	background-size: 16px 16px;
	width: 16px;
	height: 16px;
}

.CPhoto {
	border: 1px solid black;
	background-image: url(webapp/User.png);
	background-size: 100% 100%;
	background-repeat: no-repeat;
	width: 120px;
	height: 160px;
}

.CNomPrenom {
	width: 100%;
	font-family: Verdana;
	font-size: 20px
}

.CPoste {
	width: 100%;
	font-family: Verdana;
	font-size: 12px
}

.CLabel {
	border-bottom: 1px dashed #BBBBBB;
	font-family: verdana;
	font-size: 14px;
}

.Upload {
	border: 0px solid black;
	background-image: url(webapp/upload.png);
	background-size: 100% 100%;
	background-repeat: no-repeat;
	width: 48px;
	height: 48px;
}

.ico_new {
	background-image: url(webapp/new.png);
	width: 16px;
	height: 16px;
}

.ico_filter {
	background-image: url(webapp/filter.png);
	width: 16px;
	height: 16px;
}

.ico_export {
	background-image: url(webapp/export.png);
	width: 16px;
	height: 16px;
}

.redtext {
	color: red
}

.add {
	background-image: url(webapp/addbutton.png);
	background-size: 16px 16px;
	background-repeat: no-repeat;
	width: 16px;
	height: 16px;
}

.del {
	background-image: url(webapp/del.png);
	background-size: 16px 16px;
	background-repeat: no-repeat;
	width: 16px;
	height: 16px;
}

.printer {
	background-image: url(webapp/printer.png);
	background-size: 16px 16px;
	background-repeat: no-repeat;
	width: 16px;
	height: 16px;
}

.cinema {
	background-image: url(webapp/cinemagraphs-06.gif);
	background-size: auto auto;
	background-repeat: no-repeat;
	background-position: center;
	width: 100%;
	height: 100%;
}

.button_passport.letmein {
	background-color: #EEEEEE;
	color: black;
	background-image: url(webapp/cerema.png);
}

.button_passport.letmein:hover {
	background-color: white;
}